@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  margin: 0;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-primary{
  background-color: #0030B8;
  color: white;
  padding: 0.90rem 0.99rem;
  margin-top: 10px;
  border: none;
  border-radius: 0.45rem;
}
.btn-primary:hover svg{
  width: 30px;
}
.btn-primary:focus{
  border: #0043fa;
  -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
  /* background: linear-gradient(to left, #049ce5 50%, hsl(199, 46%, 48%) 50%);
    background-size: 200% 100%;
    background-color: #049ce5;
    background-position: right bottom; */
}